.highway {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
}

.highway canvas {
  /* 3d effect */
  transform: perspective(1000px) rotateX(30deg);
  margin-top: -80px;
}
